<!--
  Generated template for the DownloadsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-navbar>
      <ion-title>Descargas/Links</ion-title>
    </ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2>Ley de transito</h2>
  <button ion-button full class="items" (click)="downloadPDF()">Ley transito(PDF)</button>

</ion-content>
