<!--
  Generated template for the LegalContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-navbar>
      <ion-title>Contacto Legal</ion-title>
    </ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-searchbar placeholder="Buscar abogados" (ionInput)="search($event)">
  </ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let lawyer of lawyers">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/lawyer.png">
        </ion-avatar>
        <h2>{{ lawyer.name }}</h2>
        <p>{{ lawyer.desc }}</p>
      </ion-item>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" (click)="callNumber(lawyer.phone)">
            <ion-icon name='call'></ion-icon>   Llamar
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

</ion-content>
