<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar placeholder="Buscar elementos" (ionInput)="search($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h3>Busquedas frecuentes</h3>
    <button class="items" ion-button full *ngFor="let item of fequItems" (click)="relatedArticles(item)">{{ item }}</button>
  </div>
  <br />
  <div>
    <h3>Elementos</h3>
    <button class="items" ion-button full *ngFor="let item of items"(click)="relatedArticles(item)">{{ item }}</button>
  </div>
</ion-content>
