<!--
  Generated template for the LegalInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-navbar>
      <ion-title>item</ion-title>
    </ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar placeholder="Buscar palabras" (ionInput)="search($event)">
  </ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let law of laws">
      <ion-item>
        <h2>{{ law.name }}</h2>
        <p>{{ law.desc }}</p>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
