<!--
  Generated template for the ReadLawPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar placeholder="Buscar palabras" (ionInput)="search($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- TODO: Display the hole law here in a way that's readable and searchable. -->
  <ion-list>
    <ion-card *ngFor="let item of items">
      <ion-item>
        <h1 *ngIf="item.desc == ''">{{ item.name }}</h1>
        <h2 *ngIf="item.desc != ''">{{ item.name }}</h2>
        <p style="white-space: normal;">{{ item.desc }}</p>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
