<!--
  Generated template for the EmergencyContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-navbar>
      <ion-title>Contactos de emergencia</ion-title>
    </ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2>Abogado</h2>
  <ion-card>
    <img src="assets/img/lawyer.png"/>
    <ion-card-content>
      <ion-card-title>
        Abogado Robles
        </ion-card-title>
      <p>
        El abogado Robles se especializa en asustos de transito.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" (click)="callNumber()">
          <ion-icon name='call'></ion-icon>   Llamar
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <h2>Aseguradora</h2>
  <ion-card>
    <img src="assets/img/lawyer.png"/>
    <ion-card-content>
      <ion-card-title>
        Aseguradora Robles
        </ion-card-title>
      <p>
        La aseguradora Robles es la mejor en Guatemala, con covertura en todas las zonas de la ciudad en menos de 20 minutos.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" (click)="callNumber()">
          <ion-icon name='call'></ion-icon>   Llamar
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  
</ion-content>
